:root {
  --bg-color: hsl(0, 0%, 10%);
  --blue: hsl(207, 100%, 42%);
  --blue-dark: hsl(207, 100%, 32%);
  --blue-light: hsl(207, 100%, 52%);
  --green: hsl(120, 100%, 35%);
  --red: hsl(0, 100%, 50%);
  --color-txt-disabled: hsl(240, 50%, 80%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  width: calc(100% - 2rem);
  max-width: 80ch;
  min-width: 25rem;
  margin: 0 auto;
  padding-top: 2rem;
  background: var(--bg-color);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.win {
  color: var(--green);
  font-size: 115%;
}

.lose {
  color: var(--red);
  font-size: 115%;
}

.draw {
  color: var(--blue-light);
  font-size: 115%;
}

h1 {
  font-size: 3.5rem;
  margin-block: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.grid-buttons {
  margin-block: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

button {
  cursor: pointer;
  font-size: 1.5rem;
  background-color: var(--blue);
  border: 2px solid var(--blue-dark);
  border-radius: 0.25rem;
  color: white;
  padding: 0.5rem 1rem;
}

button:disabled {
  opacity: 0.75;
  color: var(--color-txt-disabled);
}

/* GAME */
.game {
  min-height: 14rem;
  padding: 0.5rem;
}

/* DRUMS */
#drums {
  user-select: none;
}

.drum-button {
  cursor: not-allowed;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: uppercase;
}

.drum-button.active {
  transform: scale(1.2);
}

.drum-button span {
  font-size: 0.75rem;
}
